**/.DS_Store
**/.vscode
**/build

# For assignment1
**/res
**/test-resources
solutions/assignment1/vcpkg
solutions/assignment1/build_and_run.sh
solutions/assignment1/README.md

# For assignment2
solutions/assignment2/build.sh
solutions/assignment2/short_answer.txt